:root {
  --main-color: #1e1e1e;
  --text-color: #ffffff;
  --transition: 0.3s;
}

.logo {
  height: 122px;
  width: 68px;
}

body {
  width: 100vw;
  background-color: var(--main-color);
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
}

header-navbar {
  height: 130px;
  width: 100%;
}

header-navbar nav {
  height: 100%;
  width: 100%;
}

header-navbar nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
